.loading {
  width: 40px;
  height: 40px;
  border: 5px solid #283493;
  border-radius: 50%;
  display: none;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  animation: pulse 1s linear infinite;
}
.loading:after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border: 5px solid #283493;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: scaleUp 1s linear infinite;
}

@keyframes scaleUp {
  0% { transform: translate(-50%, -50%) scale(0) }
  60% , 100% { transform: translate(-50%, -50%)  scale(1)}
}
@keyframes pulse {
  0% , 60% , 100%{ transform:  scale(1) }
  80% { transform:  scale(1.2)}
}

body {
    padding-top: 4.5rem;
  }
  
  .alert-pre {
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
  }
  
  .external-link {
    padding-top: 6px;
  }
  
  .avatar-link {
    padding-top: 4px;
    padding-bottom: 4px;
  }


  
  
    